// Used this video: https://www.youtube.com/watch?v=ys4YZr43BdY
$dark-000: #C1C2C5;
$dark-100: #A6A7AB;
$dark-600: #25262B;
$dark-700: #1A1B1E;
$dark-900: #101113;

$background-light: $dark-000;
$background-dark: $dark-700;
$primary: #339AF0;
$secondary: #845EF7;