@use "../scss/abstracts/colors" as *;

.card {
    margin: 10px;
    width: 400px;
}

.light.card {
    background-color: white;
    box-shadow: none;
}

.dark.card {
    background-color: $dark-700;
    box-shadow: none;
}

.dark.cardContent {
    background-color: $dark-700;
}

.light.cardContent {
    background-color: white;
}